/* Global */
* {
  margin: 0px;
  padding: 0px;
  color: #ffffff;
  font-family: "Ubuntu", sans-serif;
}

/* header */
.headerContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #333333;
}

.navContainer {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
  margin: 20px;
}

h1 {
  margin: 20px;
}

.navContainer a {
  font-size: 25px;
  /* margin: 5px; */
  padding: 5px 15px;
  text-decoration: none;
}

/* dynamic */
.navContainer a:hover {
  background-color: #444444;
  color: #f17e0a;
}

/* .navContainer a:active {
  color: #f17e0a;
} */

/* Body - article1 */
.article1 {
  width: 100%;
  height: 100%;
  text-align: center;
  background-image: url(./images/img1-taiwan_taipei101.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.article1 h2 {
  padding: 100px 200px 50px 200px;
  font-size: 80px;
}

.article1 p {
  padding: 0px 150px;
  font-size: 25px;
}

.article1 button {
  font-size: 25px;
  margin: 40px 150px;
  padding: 15px 20px;
  background-color: #333333;
  border: none;
}

.article1 span {
  color: #f17e0a;
}

/* Body - article2 */
.article2 {
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #333333;
}

.article2 h2 {
  padding: 70px 200px 50px 200px;
  font-size: 40px;
}

.article2 p {
  padding: 0px 150px;
  font-size: 25px;
}

.article2 button {
  font-size: 25px;
  margin: 40px 150px;
  padding: 15px 20px;
  background-color: #ffffff;
  border: none;
  color: #000000;
}

.article2 span {
  color: #f17e0a;
}

/* Body - section1~3 */
section.section1,
section.section2,
section.section3 {
  width: 100%;
  height: 100%;
  text-align: center;
  padding-bottom: 30px;
}

section.section1,
section.section3 {
  background-color: #ffffff;
}

section.section2 {
  background-color: #f17e0a;
}

.section1 img,
.section2 img,
.section3 img {
  padding: 70px 70px 10px 70px;
  width: 70px;
}

.section1 span,
.section1 p,
.section2 span,
.section2 p,
.section3 span,
.section3 p {
  padding: 0px 150px;
  font-size: 25px;
  color: #000000;
}

.section1 p,
.section2 p,
.section3 p {
  padding: 40px;
}

/* footer */
footer {
  background-color: #333333;
  padding: 40px;
  text-align: center;
  font-size: 18px;
}

/* Responsive Design - 480px */
@media screen and (max-width: 480px) {
  /* header */
  .headerContainer {
    flex-direction: column;
  }

  .navContainer {
    flex-direction: column;
    margin: 0px;
    gap: 0px;
  }

  .headerContainer h1 {
    font-size: 25px;
    margin-bottom: 20px;
  }

  .navContainer a {
    margin: 0px 10px;
    padding: 8px;
    font-size: 18px;
    border-top: 1px solid #444444;
  }

  .webName,
  .navContainer a {
    text-align: center;
    font-size: 20px;
  }

  /* Body - article1~2 */
  .article1 h2 {
    padding: 40px 50px 15px 50px;
    font-size: 40px;
  }

  .article1 p,
  .article2 p {
    padding: 0px 35px;
    font-size: 20px;
  }

  .article1 button,
  .article2 button {
    font-size: 18px;
    margin: 30px 35px 20px 35px;
    padding: 10px 15px;
  }

  .article2 {
    padding-bottom: 10px;
  }

  .article2 h2 {
    padding: 40px 50px 30px 50px;
    font-size: 25px;
  }
}

/* Body - section1~3 */
.section1 img,
.section2 img,
.section3 img {
  padding: 35px 35px 5px 35px;
  width: 50px;
}

.section1 span,
.section2 span,
.section3 span {
  padding: 0px;
  font-size: 25px;
}

.section1 p,
.section2 p,
.section3 p {
  padding: 30px 35px 0px 35px;
  font-size: 20px;
}
